<div class="min-h-screen bg-gradient-to-br from-purple-900 via-blue-900 to-black py-8 font-orbitron">
    <div class="max-w-md mx-auto px-4">
        <h1 class="text-5xl font-bold text-center mb-8 text-neon-green drop-shadow-neon break-words">
            Edit Profile
        </h1>
        <div class="bg-black p-6 rounded-lg shadow-neon border-2 border-neon-pink mb-10">
            <form id="edit-form" class="space-y-4">
                <div>
                    <label class="form-label mb-3" for="avatar">Avatar</label>
                    <input type="file" id="avatar" name="avatar" class="hidden" accept="image/jpeg,image/jpg,image/png">
                    <label for="avatar" class="flex bg-neon-pink text-white font-bold py-2 px-4 rounded cursor-pointer shadow-neon hover:bg-neon-green w-full justify-center items-center">
                        Choose File
                    </label>
                    <span id="file-name" class="block mt-2 text-sm text-gray-400 text-center">No file chosen</span>

                </div>
                <div>
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-input">
                </div>
                <div>
                    <label class="form-label" for="username">Nickname</label>
                    <input type="text" id="username" name="username" class="form-input">
                </div>
                <button type="submit" class="w-full bg-neon-green hover:bg-neon-pink text-purple-900 font-bold py-2 px-4 rounded shadow-neon transition">
                    Save
                </button>
            </form>
        </div>
        <div class="text-center space-x-4">
            <button id="back-btn" class="bg-neon-pink hover:bg-neon-green text-white font-bold py-2 px-4 rounded shadow-neon transition">
                Back to Profile
            </button>
        </div>
    </div>
</div>