@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply block text-sm font-medium text-neon-green mb-1;
  }

  .form-input {
    @apply w-full px-3 py-2 border-2 border-neon-pink rounded-md bg-purple-900 text-neon-green focus:outline-none focus:ring-2 focus:ring-neon-green font-orbitron;
  }
}
